
nav {
    height: 100px;
    /* background-color: transparent; */
  background-color: #d89820;
  background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  .navButton {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1.5em;

  }

  .navButton i {
    color:red;
    font-size: 1.3em;
  }

  body {
  background-color: #f4f1ec;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  padding-top: 120px;
  }

  nav > span {
  margin-top: 28px;
  margin-left: 20px;

  }
.logo  {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  }

  .avatar {
    display: flex;
    justify-content: center;
  }




/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */